*{
	box-sizing: border-box;
}
#left_box{
	background-color: blue;
	width: 15%;
}
#right_box{
	background-color: yellow;
	width: 85%;
}
#left_box, #right_box{
	height: 640px;
	float:left;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
#left_button,#right_button{
	height: 20px;
	min-height: 20px;
}
